div{
    font-size:140%;
    
}

/* ^ = match the beginning of the class attribute value exactly */
div[class^="visible"]{
border: 1px solid black;
margin-top:3%;
}

/* $ = match the end of the class attribute value exactly */
div[class$=lg]{
color:red;
}
div[class$=md]{
color:blue;
}
div[class$=sm]{
color:green;
}